---
import Layout from '../../layouts/Layout.astro';
import Hero from './hero.svelte';
// import HomePage from './home.svelte';

console.log('Hello from ASTRO');
console.log(import.meta.env);
debugger;
---

<Layout title="about">
  <h1>About</h1>
</Layout>
