---
import Layout from '../../layouts/Layout.astro';
// import HomePage from './home.svelte';

console.log('Hello from ASTRO');
console.log(import.meta.env);
debugger;
---

<Layout title="about">
  <h1 onclick="
  alert('hi')
  ">About</h1>

  <img
    src="https://res.cloudinary.com/simple-reads-books/image/upload/c_limit,w_1616/f_auto/q_75/hunnie-bunnys-garden-table?_a=BBEABlAE0"
    transition:name="image"
  />
</Layout>
