---
import ButtonAmazon from "../../components/ButtonAmazon.svelte";
import { CldImage } from "@jsonmartin/svelte-cloudinary-astro";
---

<section>
  <div class="flex flex-row flex-wrap items-center justify-center font-[Itim]">
    <div
      class="flex basis-full flex-col items-center justify-start p-4 md:basis-5/12"
    >
      <div
        class="mb-10 text-center text-xl font-normal text-black md:mb-20 md:mt-[70px] lg:text-2xl xl:mt-[90px] xl:text-3xl"
      >
        <div
          class="mb-2 text-center text-2xl font-normal text-black lg:text-3xl xl:text-4xl"
        >
          Hunnie Bunny's Garden Mystery
        </div>
        <span class="italic text-green-500">Available now!</span>
      </div>

      <ButtonAmazon
        href="https://www.amazon.com/Hunnie-Bunnys-Garden-Mystery-Deborah-ebook/dp/B0CM852TLH"
      />

      <div class="max-w-[200px] sm:max-w-[300px] md:max-w-[400px]">
        <CldImage
          width={1124}
          aspectRatio={1124 / 1338}
          height="100%"
          src="Hunnie_Bunny-2_sdaruu"
          alt="hunnie bunny reading"
          class="mt-16"
        />
      </div>
    </div>

    <div class="p-4 md:basis-7/12" role="button" tabindex="0">
      <a href="/products/hunnie-bunnys-garden-mystery">
        <CldImage
          width={1228}
          aspectRatio={1228 / 1067}
          height="100%"
          class="w-full rounded-lg object-contain"
          src="HBGM_book_mockup_mystery_background_1_r6cglp"
          alt="garden mystery book cover"
          quality={75}
          loading="lazy"
          transition:name="hunnie-bunnys-garden-mystery"
        />

        <div
          class="self-stretch p-3 text-center text-xl text-gray-900 md:text-xl lg:text-2xl"
        >
          <p class="mb-2">
            <span class="underline">Hunnie Bunny’s Garden Mystery</span> is a
            heartwarming children’s picture book that beautifully weaves
            together the thrill of mystery with important life lessons; it's a
            delightful blend of entertainment and education that provides
            endless opportunities for learning and discovery.
          </p>
          <p class="mb-2">
            This engaging story encourages children to appreciate nature, work
            together to solve problems, and approach misunderstandings with
            kindness and empathy.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
