---
import ButtonAmazon from "../../components/ButtonAmazon.svelte";
import { CldImage } from "@jsonmartin/svelte-cloudinary-astro";
import ButtonBarnesAndNoble from "../../components/ButtonBarnesAndNoble.svelte";
---

<section class="bg-gradient-to-r from-[#B40809] to-[#DE282C] pb-2 text-white">
  <div class="flex flex-row flex-wrap font-[Itim]">
    <div class="p-4 md:basis-7/12" role="button" tabindex="0">
      <a href="/products/hunnie-bunnys-christmas-wish">
        <CldImage
          width={1616}
          height="100%"
          aspectRatio={1172 / 1067}
          class="w-full rounded-lg"
          src="HBCW_book_mockup_z9vdu6"
          alt="book mockup cover"
          quality={90}
          loading="eager"
          transition:name="hunnie-bunnys-garden"
        />

        <div
          class="self-stretch p-3 text-left text-xl text-white md:text-xl lg:text-2xl"
        >
          <p class="mb-2">
            <span class="underline">Hunnie Bunny’s Christmas Wish</span> is a
            delightful and heartwarming story that captures the magic of
            Christmas and the joy of sharing.
          </p>

          <p class="mb-2">
            It emphasizes the importance of love and friendship during the
            holiday season and encourages children to appreciate the simple
            pleasures of holiday traditions.
          </p>

          <p class="mb-2">
            The charming narrative and vibrant illustrations will surely make
            this picture book a cherished favorite for children and their
            families.
          </p>

          <p class="text-shadow-black-xs pt-3 text-black"></p>
        </div>
      </a>
    </div>

    <div
      class="flex basis-full flex-col items-center justify-start p-4 md:basis-5/12"
    >
      <div
        class="mb-10 text-center text-xl font-normal text-black md:mb-20 md:mt-[70px] lg:text-2xl xl:mt-[90px] xl:text-3xl"
      >
        <div
          class="mb-2 text-center text-2xl font-normal text-white lg:text-3xl xl:text-4xl"
        >
          Hunnie Bunny's Christmas Wish
        </div>
      </div>

      <ButtonBarnesAndNoble
        color="green"
        href="https://www.barnesandnoble.com/w/book/1144456746?ean=9798988487241"
      />

      <div class="relative mt-6 hidden md:block">
        <CldImage
          width={680}
          height="100%"
          aspectRatio={680 / 800}
          src="xmas-tree"
          alt="Xmas Tree"
          class="mt-10"
        />

        <CldImage
          width={150}
          height="100%"
          aspectRatio={612 / 738}
          src="Mr._Frog_Xmas_t50bx0"
          alt="Mr. Frog"
          class="absolute left-24 top-96"
        />

        <CldImage
          width={150}
          height="100%"
          aspectRatio={360 / 524}
          src="Mr._Squirrel_Xmas_f0nsu0"
          alt="Mr. Squirrel Xmas"
          class="absolute -right-6 top-72"
        />
        <CldImage
          width={200}
          height="100%"
          aspectRatio={756 / 1354}
          src="Hunnie_Bunny_Xmas_nputql"
          alt="Hunnie bunnie xmas present"
          class="absolute -left-24 top-48"
        />
      </div>
    </div>
  </div>
</section>
