---
import LatestPosts from "../../components/LatestPosts.astro";
import Layout from "../../layouts/Layout.astro";
import ComingSoon from "./_ComingSoon.svelte";
import Hero from "./_HeroGarden.astro";
import HeroGardenMystery from "./_HeroGardenMystery.astro";
import Testimonials from "./_Testimonials.svelte";
---

<Layout title="Welcome">
  <section
    class="inline-flex w-full flex-col items-center justify-start bg-[#009933] bg-opacity-40 px-4 py-10 font-[Itim] md:px-5 md:py-20"
  >
    <div class="inline-flex items-center justify-start">
      <div class="inline-flex items-start justify-between gap-2.5 self-stretch">
        <div
          class="xs:text-normal text-center font-normal text-gray-900 sm:text-2xl md:px-10 md:text-3xl lg:text-4xl"
        >
          Simple Reads Books encourages children to explore nature through
          entertaining stories filled with colorful illustrations
        </div>
      </div>
    </div>
  </section>

  <Hero transition:name="image" transition:animate="slide" />

  <HeroGardenMystery />

  <ComingSoon />

  <Testimonials client:visible />

  <LatestPosts />
</Layout>
