---
import Layout from "../layouts/Layout.astro";
import ButtonBack from "../components/ButtonBack.svelte";
---

<Layout title="credits">
  <div class="prose-lg m-auto mb-5 max-w-2xl font-light">
    <section class="my-10 flex w-full flex-col items-center justify-center">
      <h1 class="text-4xl font-extrabold">Credits</h1>

      <ButtonBack client:load />
    </section>

    <p>
      Website by <a class="font-bold text-blue-500" href="https://jsonmart.in"
        >Jason Martin</a
      >
    </p>

    <p>Illustrations by <b>Sandamali Kamalchandra</b></p>

    <p class="-mb-5">Images</p>
    <ul class="list-disc">
      <li class="list-item">
        <span class="font-thin text-gray-500"
          >empty-kindergarten-room-with-rainbow-sky-wallpaper 16455786 [brgfx on
          Freepik.com]</span
        >
      </li>
    </ul>
  </div>
</Layout>
