---
import Layout from '../layouts/Layout.astro';
---

<Layout title="products">
  <h1>Products</h1>

  <img
    src="https://res.cloudinary.com/simple-reads-books/image/upload/c_limit,w_1616/f_auto/q_75/hunnie-bunnys-garden-table?_a=BBEABlAE0"
    transition:name="image"
    width="400"
  />
</Layout>
