---
import { ViewTransitions } from "astro:transitions";
import Footer from "./_Footer.svelte";
import NavBar from "./_NavBar.svelte";
import EmailSubscribeModal from "./_EmailSubscribeModal.svelte";

interface Props {
  title: string;
  description: string; // Used to populate social sharing cards
}

const { title, description } = Astro.props;
---

<style is:global>
  .text-shadow {
    text-shadow: #009933 1px 0 10px;
  }

  .text-shadow-sm {
    text-shadow: #fff 1px 0 10px;
  }

  .text-shadow-black-sm {
    text-shadow: #000 1px 0 35px;
  }

  html {
    height: 100vh;
    background-image: linear-gradient(
      to bottom,
      rgba(128, 0, 0, 0.9),
      rgba(128, 70, 0, 0.9),
      rgba(128, 128, 0, 0.9),
      rgba(70, 128, 0, 0.9),
      rgba(0, 128, 70, 0.9),
      rgba(0, 0, 128, 0.9),
      rgba(75, 0, 130, 0.9)
    );
    background-attachment: fixed;
  }
</style>

<html lang="en">
  <head>
    <title>{title}</title>

    <ViewTransitions />

    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" /><link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Itim&display=swap"
      rel="stylesheet"
    />

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9YTEE5C1YT");
    </script>

    <!-- Flowbite Styling (required for Testimonials carousel) -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
  </head>

  <!-- Fonts -->
  <body>
    <div
      id="page-container"
      class="m-auto flex w-full max-w-screen-xl flex-col overflow-hidden bg-white"
    >
      <NavBar client:load transition:persist="header" />

      <slot />

      <Footer client:load />

      <EmailSubscribeModal client:load />
    </div>
  </body>
</html>
